img {
  width: 50;
  height: 50;
}

a {
  background-color: white;
  color: blue;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("Backgrounds/JinxTongue.jpg");
  height: 100%;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

#navigation-container {
  width: 1200px;
  margin: 0 auto;
  height: 70px;
}

.navigation-bar {
  background-color: black;
  height: 70px;
  width: 100%;
  text-align: left;
}

.navigation-bar img {
  float: left;
}

.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.navigation-bar li {
  padding: 5px;
  display: inline;
}

.navigation-bar li a {
  color: black;
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
  opacity: 0.7;
}

.navigation-bar li a:hover {
  cursor: crosshair;
}

#footer-container {
  width: 1200px;
  margin: 0 auto;
  height: 100px;
}

.footer-bar {
  /* background-color: black; */
  height: 100%;
  width: 100%;
  text-align: left;
}

.footer-bar img {
  float: left;
}

footer {
  position: fixed;
  bottom: 0;
  height: 110px;
  width: 100%;
  padding-top: 10px;
}

ul {
  overflow: hidden;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 1px;
}

.main-nav li {
  display: inline-block;
}

.main-nav li a {
  color: white;
  text-decoration: none;
  padding: 1px 20px;
  font-family: 'Ink Free', /*Haettenschweiler, Castellar, sans-serif;*/
}

.main-nav li a:hover {
  border: 2px solid red;
}

#myDIV {
  width: 50%;
  padding: 50px 0;
  text-align: center;
  background-image: url("JinxBackground1.jpg");
  margin-top: 20px;
  display: none;
}

#myDIV2 {
  width: 50%;
  padding: 40px 0;
  text-align: center;
  background-image: url("chief.jpg");
  margin-top: 20px;
  display: none;
}

#myDIV3 {
  width: 50%;
  padding: 50px 0;
  text-align: center;
  background-color: blue;
  margin-top: 20px;
  display: none;
}

#myDIV4 {
  width: 50%;
  padding: 50px 0;
  text-align: center;
  background-image: url("MarcusFenix.jpg");
  margin-top: 20px;
  display: none;
}
#myDIV5 {
  width: 50%;
  padding: 40px 0;
  text-align: center;
  background-image: url("miles_morales.jpg");
  margin-top: 20px;
  display: none;
}
#milesText{
  color: green;
}
.discussions {
    cursor:pointer;
    display: block;
    padding:0px;
  }
.discussion:hover {
    opacity: 1;
  }

h1 { 
    padding-left:20px;
    padding-right:20px;
    font-size:32px;
    font-weight:300;
  } 
h2 {
    padding-top:10px;
    padding-right: 40px;
    padding-bottom:10px;
    font-size: 18px;
    font-weight:500;
    color: #032156;
  }

#response {
    font-size:16px;
    line-height:22px;
    text-align:justify;
    padding-left:20px;
    padding-right:20px;
  }

#response-2 {
    font-size:16px;
    line-height:22px;
    text-align:justify;
    padding-left:20px;
    padding-right:20px;
  }
#response-3 {
    font-size:16px;
    line-height:22px;
    text-align:justify;
    padding-left:20px;
    padding-right:20px;
  }

.forum {
    display:block;
    position:relative;
    padding:2%;
    width:100%;
    max-width:85%;
    background-color: #d5dce8;
    opacity: 0.78;
    margin:0 auto;
    margin-top:12%;
    box-shadow:0px 0px 5px rgba(0,0,0,0.1);
    border-radius: 25px
   } 